<div class="bar bar-header bar-assertive">
    <h1 class="title">Pokemon</h1>
</div>

<ion-content class="has-header">
    <ion-list>
        <ion-item ng-repeat="pokemon in pokemons" href="/pokemon/{{$index}}">
            <h1>{{pokemon.pokemon_species.name}}</h1>
            <p>{{pokemon.pokemon_species.url}}</p>
        </ion-item>
    </ion-list>
</ion-content>

<div class="tabs-striped tabs-color-assertive">
    <div class="tabs">
        <a class="tab-item active" href="#/home">
            <i class="icon ion-home"></i>
            Home
        </a>
        <a class="tab-item" href="#/pokemons">
            <i class="icon ion-star"></i>
            Pokemons
        </a>
        <a class="tab-item" href="#/home">
            <i class="icon ion-gear-a"></i>
            Settings
        </a>
    </div>
</div>
  