/* Empty. Add your own CSS if you like */
.bg
{
	/*background: url(../img/iphone6_template.jpg) no-repeat center;*/
	background-color: #FC3434;
}

.hidden
{
	display: none;
}


.title
{
	letter-spacing: .1em;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.title h1
{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;	
}

img 
{
	width: 100%;
}

/* home page */
#homeContent h1
{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	color: #242424;
	padding-bottom: 10px;
}

#homeContent p
{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	letter-spacing: .1px;
	color: #242424;	
	padding-bottom: 10px;
}

#homeContent button
{
	text-transform: uppercase;
}

/* list page */
.pokemonList
{
	/*background-color: #FFF2CF;*/
}

.pokemonList:hover
{
	background-color: #FC3434;
}

a
{
	color: #171515;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

a:hover
{	
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}



/* details page */



#details
{
	background-color: #DB3E3E;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-align: left;
	
}

#details h1
{
	color: #242424;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	letter-spacing: 4px;
}

#details h2
{
	color: #242424;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}


.item-divider
{
	background-color: #242424;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}

/* Setting Page */

.settings
{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;	
}


/* About */

#about h1
{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;	
	text-transform: uppercase;
	font-size: 30px;
}

#about p
{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 25px;	
}

.aboutMe a 
{
	color: #242424;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;	

}

.aboutMe a:hover
{
	color: #E86B50;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;	
}