        <ion-header-bar class="bar-assertive">
        <h1 class="hidden">Pokemon API | Details Page</h1>
            <button class="button button-icon icon ion-chevron-left" ng-click="goEgg()"></button>
            <h2 class="title">{{name}}</h2>
        </ion-header-bar>

		<ion-content id="details" class="padding">
		<h1 class="hidden">Pokemon API | Pokemon Description</h1>
			<ul class="list">
			<li class="item item-divider">Status</li>
			<li class="item">Attack: {{attack}}</li>
			<li class="item">Catch Rate: {{catch_rate}}</li>
			<li class="item">Defense: {{defense}}</li>
			<li class="item">Egg Cycles: {{egg_cycles}}</li>
			<li class="item">Exp: {{exp}}</li>
			<li class="item">Height: {{height}}</li>
			<li class="item">Height: {{weight}}</li>
			<li class="item">Hp: {{hp}}</li>
			<li class="item">sp_atk: {{sp_atk}}</li>
			<li class="item">sp_def: {{sp_def}}</li>
			<li class="item">speed: {{speed}}</li>
			<li class="item">total: {{total}}</li>
			<li class="item item-divider">Types</li>
			<li class="item" ng-repeat="type in types">{{type.name}}</li>
			<li class="item item-divider">Evolution</li>
			<li class="item" ng-repeat="evolution in evolutions">Level: {{evolution.level}} - Method: {{evolution.method}} - Evolve to: {{evolution.to}} </li>
			<li class="item item-divider">Description</li>
			<li class="item" ng-repeat="description in descriptions">{{description.name}} - {{description.resource_uri}}</li>
		</ul>
		</ion-content>
