        <ion-header-bar class="bar-assertive">
        <h1 class="hidden">Pokemon API | About</h1>
            <button class="button button-icon icon ion-chevron-left" ng-click="goHome()"></button>
            <h2 class="title">About</h2>
        </ion-header-bar>

		<ion-content id="about" class="padding">
		<h1 class="hidden">Pokemon API | Pokemon About</h1>
			<h1>What is it?</h1>
			<p>This website provides a RESTful API interface to 54,363 objects related to Pokémon. We specifically cover the video game franchise, though we'd like to cover the card game too. Using this website you can consume information on Pokémon, their moves, abilities, types, egg groups and much much more.</p>

			<h1>What exactly is an API?</h1>
			<p>This is probably worth clearing up very quickly for those who don't know.An API (Application Programming Interface) is a set of interfaces (in this case, url links) that are publicly available, that allow developers to interact with an application.In this instance; the application is a database of 54,363 pokemon-related objects.</p>
			
			<h1>Isn't there 101 other Pokémon websites already?</h1>
			<p>Yes and that's exactly the problem! 101 instances of the same website means 101 instances of the same data.
			We aim to provide a single database that any number of other websites can consume and use.Often, and especially when new Pokémon games or updates are released, the 101+ websites take weeks to update as people have to enter the same information in all those different places.This solves that problem.If all those sites consumed their data from here, they would have the exact same information that is updated at exactly the same time, with no errors between each website.The overall benefit is a better collaboration and consistency across all the different Pokémon websites and applications. It's good for all!</p>

			<h3>For more Information about Pokemon API</h3>
			<a href="http://pokeapi.co/"><button class="button button-block button-positive">Click here</button></a>
		</ion-content>