        <ion-header-bar class="bar-assertive">
        <h1 class="hidden">Pokemon API | Details Page</h1>
            <button class="button button-icon icon ion-chevron-left" ng-click="goList()"></button>
            <h2 class="title">{{pokemonDetail.name}}</h2>

        </ion-header-bar>

		<ion-content id="details" class="padding">
		<h1 class="hidden">Pokemon API | Pokemon Description</h1>
		
		<ul class="list">
			<li class="item item-divider">Status</li>
			<li class="item">Attack: {{pokemonDetail.attack}}</li>
			<li class="item">Catch Rate: {{pokemonDetail.catch_rate}}</li>
			<li class="item">Defense: {{pokemonDetail.defense}}</li>
			<li class="item">Egg Cycles: {{pokemonDetail.egg_cycles}}</li>
			<li class="item">Exp: {{pokemonDetail.exp}}</li>
			<li class="item">Happiness: {{pokemonDetail.happiness}}</li>
			<li class="item">Height: {{pokemonDetail.height}}</li>
			<li class="item">Hp: {{pokemonDetail.hp}}</li>
			<li class="item">sp_atk: {{pokemonDetail.sp_atk}}</li>
			<li class="item">sp_def: {{pokemonDetail.sp_def}}</li>
			<li class="item">speed: {{pokemonDetail.speed}}</li>
			<li class="item">total: {{pokemonDetail.total}}</li>
			
			<li class="item item-divider">Types</li>
			<li class="item" ng-repeat="types in pokemonDetail.types">{{types.name}}</li>

			<li class="item item-divider">Evolutions</li>
			<li class="item" ng-repeat="evolutions in pokemonDetail.evolutions">
			Level: {{evolutions.level}} - Evolve to: {{evolutions.to}}</li>

			<li class="item item-divider">Moves</li>
			<li class="item" ng-repeat="moves in pokemonDetail.moves">{{moves.name}}</li>
			
			<li class="item item-divider">Egg Group</li>
			<li class="item" ng-repeat="egg_groups in pokemonDetail.egg_groups">{{egg_groups.name}}</li>

			<li class="item item-divider">Abilities</li>
			<li class="item" ng-repeat="abilities in pokemonDetail.abilities">{{abilities.name}}</li>

			<li class="item item-divider">Description</li>
			<li class="item" ng-repeat="descriptions in pokemonDetail.descriptions">{{descriptions.name}}</li>
		</ul>


		</ion-content>