	<ion-content class="bg">
	<h1 class="hidden">Pokemon API | Home</h1>
		<div class="row responsive-sm padding">

			<div class="col">
			<h1 class="hidden">Pokemon Logo</h1>		  
				<figure>
				  	<img src="img/pokedex.png" alt="pokemon_logo"/>
				 </figure>
			</div>

		   <div class="col card" id="homeContent">
		   <h1 class="hidden">Pokemon API | About</h1>
			   <div class="item item-text-wrap">
			   <h1 class="hidden">Pokemon API | Information</h1>
				   	<h1>Pokemon Pokedex Guide</h1>
				   	<p>Search for your favourite pokemon</p>
				   	<a href="#/list"><button class="button button-block button-positive">gotta catch em all!</button></a>
			   	</div>
		   </div>

		</div>
	</ion-content>